<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929434131247-5jda0rgg5nit176ir2vi2n2u0p5obo4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929434131247-5jda0rgg5nit176ir2vi2n2u0p5obo4m</string>
	<key>API_KEY</key>
	<string>AIzaSyA0KzED-VNyQJWsY-ydMWOYxqhbJCcA_fA</string>
	<key>GCM_SENDER_ID</key>
	<string>929434131247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.asmaaDemoCadeau</string>
	<key>PROJECT_ID</key>
	<string>asmaa-cadeau-app</string>
	<key>STORAGE_BUCKET</key>
	<string>asmaa-cadeau-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929434131247:ios:bb0a74c0d25889aa799fda</string>
</dict>
</plist>